@font-face {
    font-family: NunitoSans;
    src: url('../assets/fonts/NunitoSans-Regular.ttf');
}
@font-face {
    font-family: NunitoSans;
    src: url('../assets/fonts/NunitoSans-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: NunitoSans;
    src: url('../assets/fonts/NunitoSans-Light.ttf');
    font-weight: 100;
}

html, body {
    font-family: NunitoSans, Arial, Helvetica, sans-serif !important;
    font-size: 14px;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.inline {
    display: inline-block;
}

.w20pc {
    width: 20%;
}
.w30pc {
    width: 30%;
}
.w40pc {
    width: 40%;
}
.w50pc {
    width: 50%;
}